.image_shoes{
    height: 200px;
    width: 300px;
}

.shoes{
    padding : 2rem;
    border : 2px solid gray;
    border-radius: 20px;
    line-break: anywhere;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: min-content;
}


.shoesContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.price{
    color : green;
    font-weight: bold;
    margin-top: auto;
}

.shoes-description{
    text-align: center;
}




@media (min-width: 500px) and (max-width: 700px){
    .shoesFavouriteIcon{
        position: relative;
        bottom: 100%;
        left: 50%;
        font-size: 1.8rem;
    }
}
